<!DOCTYPE html>
<html lang="ru">
<head>

  <%= _.template(require("./templates/meta-tags.html"))() %>

  <title>Домашняя страница: курс криптовалют</title>
</head>
<body>

<%= _.template(require("./templates/header.html"))({ titleHeading: "Курс криптовалют" }) %>

<main role="main" class="container pb-5">
  <div class="row justify-content-center py-3">
    <div class="col-12 col-md-6 col-lg-5 col-xl-4">

      <div class="form-group">
        <label for="base-currency-select">Сколько стоит один</label>

        <%= _.template(require("./templates/currency-select.html"))({
          currencySide: "base",
          defaultOptionText: "Выберите базовую валюту"
        }) %>

      </div>

    </div>

    <div class="col-12 col-md-6 col-lg-5 col-xl-4">

      <div class="form-group">
        <label for="target-currency-select">в</label>

        <%= _.template(require("./templates/currency-select.html"))({
          currencySide: "target",
          defaultOptionText: "Выберите целевую валюту"
        }) %>

      </div>

    </div>
  </div>

  <%= _.template(require("./templates/loading-spinner.html"))() %>

  <div class="row justify-content-center">
    <p id="error-message" class="bg-danger text-white rounded px-3 py-2 hidden">
      Ошибка
    </p>
  </div>

  <div class="row justify-content-center py-3">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
      <div id="currency-rate-view">

      </div>
    </div>
  </div>
</main>

<%= _.template(require("./templates/footer.html"))() %>

</body>
</html>