<!DOCTYPE html>
<html lang="ru">
<head>

  <%= _.template(require('./templates/meta-tags.html'))() %>

  <title>Домашняя страница: курс криптовалют</title>
</head>
<body>

<%= _.template(require('./templates/header.html'))() %>

<main role="main" class="container">
  <div class="row justify-content-center mb-3">
    <div class="col-12 col-md-6 col-lg-5 col-xl-4">

      <div class="form-group">
        <label for="base-currency-select">Сколько стоит один</label>

        <%= _.template(require('./templates/currency-select.html'))({
          currencySide: "base",
          defaultOptionText: "Выберите базовую валюту"
        }) %>

      </div>

    </div>

    <div class="col-12 col-md-6 col-lg-5 col-xl-4">

      <div class="form-group">
        <label for="target-currency-select">в</label>

        <%= _.template(require('./templates/currency-select.html'))({
          currencySide: "target",
          defaultOptionText: "Выберите целевую валюту"
        }) %>

      </div>

    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
      <div id="currency-rate-view">

      </div>
    </div>
  </div>
</main>

</body>
</html>