<!DOCTYPE html>
<html lang="ru">
<head>

  <%= _.template(require("./templates/meta-tags.html"))() %>

  <title>Домашняя страница: главная</title>
</head>
<body>

<%= _.template(require("./templates/header.html"))({ titleHeading: "Добро пожаловать!" }) %>

<main role="main" class="container my-5">
  <div class="row justify-content-center mb-5">
    <div class="col-auto">
      <img src=<%= require("../img/ricardo.png") %> alt="Рикардо">
    </div>
  </div>
</main>

<%= _.template(require("./templates/footer.html"))() %>

</body>
</html>