<select id="<%- currencySide %>-currency-select" name="<%- currencySide %>-currency" class="form-control form-control-lg">
  <option value="" selected disabled hidden>
    <%- defaultOptionText %>
  </option>
  <optgroup label="Криптовалюта">
    <option value="btc">Биткойн, BTC</option>
    <option value="ltc">Лайткойн, LTC</option>
    <option value="eth">Эфириум, ETH</option>
  </optgroup>
  <optgroup label="Обычная валюта">
    <option value="usd">Доллар, USD</option>
    <option value="rur">Рубль, RUR</option>
    <option value="eur">Евро, EUR</option>
  </optgroup>
</select>
