<footer class="page-footer pt-4">

  <div class="container text-center text-sm-left">

    <div class="row">

      <div class="col-sm-6 mt-sm-0 mt-3">
        <h5 class="text-uppercase">Домашняя страница</h5>
        <p>Моя домашняя страница. Реально.</p>
      </div>

      <hr class="clearfix w-100 d-sm-none pb-3">

      <div class="col-sm-6 mb-sm-0 mb-3 ml-md-auto text-sm-right">
        <h5 class="text-uppercase">Ссылки</h5>

        <ul class="list-unstyled">
          <li>
            <a href="../index.html">Главная</a>
          </li>
          <li>
            <a href="../weather.html">Погода</a>
          </li>
          <li>
            <a href="../crypto.html">Курс криптовалют</a>
          </li>
          <li>
            <a href="../contact.html">Связаться со мной</a>
          </li>
        </ul>

      </div>

    </div>
  </div>

  <hr class="mb-n1">

  <div class="text-center py-3">
    © <a href="https://github.com/colddegree/">colddegree</a>, 2019
  </div>

</footer>
