#city-select {
  margin-bottom: 10px;
}

#weather-view {
  ul {
    list-style: none;
    padding-left: 0;

    li {
      margin-bottom: 15px;
    }
  }

  .icon {
    position: relative;
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }

  .main-weather-info {
    font-size: 1.75em;
    margin-bottom: 15px;
  }
}
